<md-card>
  <md-card-title>
    New Source
  </md-card-title>
  <md-card-content>
    <form class="new-source-form" (ngSubmit)="submit()">
      <md-input-container class="new-source-input">
        <input type="text" mdInput required placeholder="Source Title">
      </md-input-container>
      <br>
      <md-input-container class="new-source-input">
        <input type="text" mdInput required placeholder="Source Author(s)">
      </md-input-container>
      <br>
      <md-input-container class="new-source-input">
        <textarea mdInput rows=10 placeholder="Source Abstract"></textarea>
      </md-input-container>
      <br>
      <md-input-container class="new-source-input">
        <input type="date" mdInput placeholder="Source Date of Publication">
      </md-input-container>
      <br>
      <md-input-container class="new-source-input">
        <input type="url" mdInput required placeholder="Source Link">
      </md-input-container>
      <br>
      <md-input-container class="new-source-input">
        <input type="text" mdInput required placeholder="Source Subject(s)">
      </md-input-container>
      <br>
      <md-input-container class="new-source-input">
        <input type="text" mdInput required placeholder="Source Tag(s)">
      </md-input-container>
      <button md-raised-button type="submit">Create Source</button> 
    </form>
  </md-card-content>

</md-card>