@import '~@angular/material/core/theming/all-theme';
@include mat-core();
$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent);
@include angular-material-theme($app-theme);
