<md-toolbar color="primary">
  <span [routerLink]="['']">ResearchHub</span>
  <span fxFlex></span>
  <div *ngIf="(authService.isSignedInStream | async)">
    <a href="/profile">Profile</a>
    <a href="/bookmark">Bookmark</a>
    <button md-button (click)="signOut()">Sign Out</button>
  </div>
  <button *ngIf="!(authService.isSignedInStream | async)" [routerLink]="['/login']" md-button>Login</button>
</md-toolbar>
<div fxLayoutAlign="center center">
  <div class="container" fxFlex fxFlex.md="960px" fxFlex.gt-md="1100px">
    <router-outlet></router-outlet>
  </div>
</div>
