<md-card id="background-card">
  <h1>ResearchHub</h1>
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <form (ngSubmit)="mainSearch()" fxLayout="column" fxLayoutAlign="space-around center">
      <md-input-container fxFill>
        <input mdInput placeholder="Search Terms" [(ngModel)]="searchContent" [ngModelOptions]="{standalone: true}">
      </md-input-container>
      <button [disabled]="!searchContent" md-raised-button>Search</button>
    </form>
  </div>

  <hr>
  <h2>Sources
    <button md-button style="float: right;" (click)="newSource()" *ngIf="authService._isSignedIn">
      <md-icon>add</md-icon> New Source
    </button>
  </h2>
  <md-grid-list [cols]="numberColumns" rowHeight="3:2">
    <md-grid-tile *ngFor="let subject of subjects">
      <md-card class="subject-card" (click)="showResultsFor(subject)">
        <md-card-title fxLayoutAlign="none center">
          <span id="subject">{{subject.subject}}</span>
          <span fxFlex></span>
        </md-card-title>
        <md-card-content>
          <div fxLayoutAlign="none center">
            <span>{{subject.ids.length}} Sources</span>
            <span fxFlex></span>
          </div>
        </md-card-content>
      </md-card>
    </md-grid-tile>
  </md-grid-list>
</md-card>
