<h1>ResearchHub</h1>
<md-input-container>
  <input mdInput placeholder="Search Terms" value="I am interested in ...">
</md-input-container>
<button md-raised-button (click)="search()">Search</button>
<hr>
<md-grid-list cols="4" rowHeight="2:1">
  <md-grid-tile>
    <md-card>1</md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card>2</md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card>3</md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card>4</md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card>5</md-card>
  </md-grid-tile>
</md-grid-list>
