$hortz-card-padding: 20px;
md-card {
  width: 95%;
  height: 95%;
  padding: 0px;
  font-family: "monaco";
  md-card-title {
    padding: 10px $hortz-card-padding;
    font-weight: normal;
    width: 100%;
    min-height: 60%;
    font-size: 150%;
    color: white;
    background-color: #F57C00;
  }
  md-card-content {
    min-width: 100%;
    min-height: 40%;
    padding: 10px $hortz-card-padding 0;
    font-size: 15px;
    color: black;
  }
}

md-grid-list {
  margin-top: 40px;
  margin-bottom: 200px;
}

h1 {
  margin-top: 120px;
  margin-bottom: 20px;
  color: #E65100;
  font-family: "monaco";
  font-size: 90px;
  text-align: center;
}

.subject-card {
  cursor: pointer;
}

h2 {
  margin-top: 60px;
  margin-bottom: 20px;
  font-family: "monaco";
  color: #F57C00;
}

form {
  width: 100%;
}

button {
  background: #F57C00;
  color: white;
  margin-bottom: 70px;
}

#background-card {
  background-color: #ffffff;
  margin-top: 20px;
  padding: 0px 50px;
  min-width: 500px;
  min-height: 800px;
}
