<span class="title">Login</span><span id="error">  Bad username/password</span>
<br />
<form fxLayout="column" fxLayoutAlign="center stretch" (ngSubmit)="login()">
  <md-input-container >
    <input mdInput required type="email" placeholder="Email" name="Email" [(ngModel)]="formUser.username">
    <md-error>An Email is required</md-error>
  </md-input-container>
  <md-input-container >
    <input mdInput required placeholder="Password" name="password" type="password" [(ngModel)]="formUser.password">
    <md-error>A password is required</md-error>
  </md-input-container>
  <br />
  <div>    
    <button md-button type="button" (click)="toSignup()">create an account</button>
    <span fxFlex></span>
    <button md-button type="submit" class="login">Login</button>
  </div>
</form>
