img {
    padding-top: 50px;
    display: block;
    margin: auto;
    width: auto;
    max-height: 400px;
}

md-card {
    width: 40%;
    margin: auto;
    md-card-content {
        padding: 0px;
    }
}
