<md-card>
  <form (ngSubmit)="resultSearch()" fxLayout="row" fxLayoutAlign="space-around center">
    <md-input-container>
      <input mdInput placeholder="Search Terms" name="searchContent" [(ngModel)]="this.searchService.searchContent">
    </md-input-container>
    <button md-raised-button type="submit" [disabled]="!this.searchService.searchContent" type="submit">Search</button>
  </form>
</md-card>
<hr>
<md-card *ngIf="source">
  <div *ngIf="source.posted_by == authService._currentUserId">
    <button md-raised-button id="source-link" (click)="editSource()">Edit Source</button>
    <button md-raised-button id="bookmark-link" (click)="deleteSource()">Delete Source</button>
  </div>
  <md-card-title>{{source.title}}</md-card-title>
  <md-card-content>
    <rating [(ngModel)]="overallRating" *ngIf="overallRating" [readonly]="true"></rating>
    <button md-raised-button id="source-link" (click)="goToSource()">Link to Source</button>
    <button md-raised-button id="bookmark-link" (click)="bookmarkSource()" *ngIf="showBookmarkLink()">Bookmark Source</button>
    <p>Authors: {{source.author}}</p>
    <p>Date Published: {{date_posted}}</p>
    <p *ngIf="source.abstraction">Abstract: {{source.abstraction}}</p>
  </md-card-content>
</md-card>
<hr>
<md-card>
  <md-card-title>Reviews</md-card-title>
  <div *ngIf="userid">
    <md-card *ngIf="showReviewSubmission || editingReview;else myReviewTemplate">
      <form #mqForm="ngForm" (ngSubmit)="onSubmit()">
        <md-input-container fxFlex>
          <input mdInput name="review" [(ngModel)]="review.review">
        </md-input-container>
        <rating name="rating" [(ngModel)]="review.rating"></rating>
      </form>
    </md-card>
    <ng-template #myReviewTemplate>
        <md-card fxLayoutAlign="space-between center" *ngIf="authService._currentUserId">
          <p>{{reviewCopy.review}}</p>
          <div fxLayoutAlign="center end">
            <rating [(ngModel)]="reviewCopy.rating" [readonly]="true"></rating>
            <button md-icon-button (click)="editReview()"><md-icon>create</md-icon></button>
            <button md-icon-button (click)="deleteReview()"><md-icon>delete</md-icon></button>
          </div>
        </md-card>
    </ng-template>
  </div>
  <div *ngFor="let message of reviewStream| async">
      <md-card fxLayoutAlign="space-between center" *ngIf="message.author != authService._currentUserId">
        <p>{{message.review}}</p>
        <rating class="readonlyReivews" [(ngModel)]="message.rating" [readonly]="true"></rating>
      </md-card>
  </div>
</md-card>
