button {
  background: #F57C00;
  color: white;
}

#source-link {
    float: right;
}

#bookmark-link {
    float: right;
}

md-input-container {
  width: 70%;
}

div {
  margin-top: 1%;
}

md-card {
  margin-top: 5px;
}

rating {
  width: 200px;
}
